<!DOCTYPE html>
<html>
<head>
    <title>Connect 4 Tournament - {{ config.DOMAIN }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="canonical" href="https://{{ config.DOMAIN }}{{ request.path }}" />
</head>
<body>
    <nav>
        <a href="{{ url_for('home.index') }}">Home</a>
        {% if 'group_id' in session %}
            <a href="{{ url_for('upload.upload') }}">Upload</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html> 